<div class="text-center">
    <div class="container-fluid">
        <div class="row" align="center" cellpadding="4" >
            <div class="col" style="min-width: 241px">
                <app-accounts userId={{userId}}></app-accounts>
            </div>
            <div class="col">
                <app-transaction-list></app-transaction-list>
            </div>
            <div class="col">
                <app-transaction (reloadComponents)="reload($event)"></app-transaction>
            </div>
        </div>
    </div>
</div>
