<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">-->
    <h5 class="text-muted text-center animate2 slideIn pt-3">
      Transactions
    </h5>
  <div class="ln animate2 slideIn"></div>
<div class="table-responsive-sm">
    <table class="table table-striped table-borderless table-dark tbl p-3">
      <thead class="text-muted animate2 slideIn ">
      <tr>
        <th class="t" align="left">ID</th>
        <th class="t" align="left">From</th>
        <th class="t" align="left">To</th>
        <th class="t" align="left">Memo</th>
        <!--<th align="left">TransactionType</th>-->
        <th class="t" align="left">Description</th>
        <!--<th align="left">Type ID</th>-->
        <th class="t" align="left">Amount</th>
        <th class="t" align="left">Date</th>
      </tr>
      </thead>
      <tbody class="table-dark table-borderless animate3 slideIn t ">
      <tr class="t" *ngFor="let t of transactions">
        <td class="t" data-label="Transaction ID">{{t.transactionId}}</td>
        <td class="t" data-label="From">{{t.fromAccountId}}</td>
        <td class="t" data-label="To">{{t.toAccountId}}</td>
        <td class="t" data-label="Memo">{{t.memo}}</td>
        <!--<td>{{t.transactionType}}</td>-->
        <td class="t" data-label="Transaction Type">{{t.transactionType['description']}}</td>
        <!--<td data-label="Transaction Type ID">{{t.transactionType['id']}}</td>-->
        <td class="t" data-label="Amount">{{t.amount}}</td>
        <td class="t" data-label="Transaction Date">{{t.transactionDt}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="pt-2">
        <th style="padding: 0px" colspan="8" class="">
          <div class="ln animate4 slideIn"></div>
          <sui-pagination class="p-2 animate4 slideIn" [collectionSize]="total" [pageSize]="limit" [hasNavigationLinks]="true" [hasBoundaryLinks]="true" [(page)]="selectedPage"
                          (pageChange)="pageChange()">
          </sui-pagination>
        </th>
      </tr>
      </tfoot>
    </table>
</div>

