/*svg {*/
/*  font: bold 50px 'Arial';*/
/*  width: 80%;*/
/*  height: 50px;*/
/*}*/

/*text {*/
/*  !*fill: white;*!*/
/*  stroke: black;*/
/*  stroke-width: 2px;*/
/*  stroke-linejoin: round;*/
/*}*/
/*.tbl {*/
/*  background-color: #ff00f6;*/
/*  border-color: blue;*/
/*}*/
.tbl {
  background-image: linear-gradient(rgba(255, 0, 246, 0), rgba(0, 0, 0, 0.5));
  color: rgb(229, 229, 229);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding-top: 10px;
}
.bdr {
  border-color: #ff00f6;
  border: 1px;
  border-bottom-width: 3px;
}
.text {
  color: #b9b9b9;
}
.ln {
  height: 1px;
  background-color: #ff00f6;
}
.t {
  padding: 1px;
}
@media (min-width: 992px) {
  .animate1 {
    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .animate2 {
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .animate3 {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .animate4 {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.thead-dark {
background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.15);
}
.table-dark {
  background-blend-mode: lighten;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}
.plus {
  background-color: black;
  border-color: #ff00f6;
}
.text-muted {
  color: #8a959d !important;
}
