<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<h2 class="ui header">
  <svg viewBox="0 0 350 50">
    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Transactions List</text>
  </svg>
</h2>
<hr>
<div class="ui segment">
<!--  <sui-dimmer class="inverted" [(isDimmed)]="loading">-->
<!--    <div class="ui text loader">Loading</div>-->
<!--  </sui-dimmer>-->
  <table class="ui celled table">
    <thead>
    <tr>
      <th align="left">Transaction ID</th>
      <th align="left">From</th>
      <th align="left">To</th>
      <th align="left">Memo</th>
      <!--<th align="left">TransactionType</th>-->
      <th align="left">Description</th>
      <!--<th align="left">Type ID</th>-->
      <th align="left">Amount</th>
      <th align="left">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of transactions">
      <td data-label="Transaction ID">{{t.transactionId}}</td>
      <td data-label="From">{{t.fromAccountId}}</td>
      <td data-label="To">{{t.toAccountId}}</td>
      <td data-label="Memo">{{t.memo}}</td>
      <!--<td>{{t.transactionType}}</td>-->
      <td data-label="Transaction Type">{{t.transactionType['description']}}</td>
      <!--<td data-label="Transaction Type ID">{{t.transactionType['id']}}</td>-->
      <td data-label="Amount">{{t.amount}}</td>
      <td data-label="Transaction Date">{{t.transactionDt}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th colspan="7">
        <sui-pagination [collectionSize]="total" [pageSize]="limit" [hasNavigationLinks]="true" [hasBoundaryLinks]="true" [(page)]="selectedPage"
                        (pageChange)="pageChange()">
        </sui-pagination>
      </th>
    </tr>
    </tfoot>
  </table>
</div>

