
<ul class="container-fluid">
    <table cellpadding="">
      <div class="text-muted text-center">
        <h4>Accounts</h4>
      </div>
    <ol class="text-left" *ngFor="let account of accounts">
      <div class="ln"></div>
                <td>
                  <span class="text-light">{{account.name}}</span><br>
                  <span class="text-muted">${{account.balance }}</span>
                </td>
    </ol>
    </table>
    <li class="text-center text-light pt-3 list-inline">
        <h4>
            <button class="btn-secondary plus" (click)="onClick()">+
            </button>
        </h4>
    </li>
</ul>


<div class="list-inline text-lg-center text-light pt-3 create" *ngIf="createAccount">
    <h6 class="accounts">Create New Account</h6>
    <li class="pt-1 align-baseline">
        <input class="form text-light" placeholder="Name*" #accountName/>
    </li>
    <li class="pt-3 align-baseline">
        <input class="form text-light" placeholder="Balance*" #accountBalance/>
    </li>
    <div id="accountType" >
        <div class="text-muted pt-3">
            <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle plus" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" #newAccountType value="{{AccountTypeID}}">
                {{accountTypeName}}
            </button>
            <div class="dropdown-menu plus" aria-labelledby="accountTypebtn" id="accountTypedrp">
                <a *ngFor="let accountType of accountTypes" [class.selected]="accountType === selectedAccountType"
                   (click)="onSelectAccountType(accountType)" class="dropdown-item">{{accountType.description}}</a>
            </div>
        </div>
    </div>

    <!-- (click) passes input value to add() and then clears the input -->
    <li class="pt-3 pb-3 align-baseline">
        <button class="plus text-light" (click)="add(accountName.value, accountBalance.value);">
            submit
        </button>
    </li>
</div>
