
<div class="text-lg-center text-light pt-3">
<h2>Transactions</h2>
<div>
  <button (click)="enableDeposit()"> Deposit </button>
  <button (click)="enableWithDraw()"> Withdraw </button>
  <button (click)="enableTransfer()"> Transfer </button>
  <p>
  <label>
    <div >
       User: {{userId}}
    </div>
    <div id="amount" hidden="true">
      Amount :
      <input  type="number" value="0.01" #newTransactionAmount />
    </div>
    <div id="memo" hidden="true">
      Memo :
      <input #newTransactionMemo />
    </div>
    <div id="fromAccount" hidden="true">
      From Account :
      <input #newTransactionFromAccount />
    </div>
    <div id="toAccount" hidden="true" >
       To Account :
       <input  #newTransactionToAccount/>
    </div>
    <div id="transactionType" hidden="true" >
      Type :
      <input  #newTransactionType value="Other" />
    </div>
  </label>
  <button id="addTransactionButton" hidden="true" (click)="addDeposit(newTransactionAmount.value, newTransactionMemo.value, newTransactionFromAccount.value,newTransactionToAccount.value , newTransactionType.value); newTransactionAmount.value=''">
    ok
  </button>

  <button id="cancelTransaction" hidden="true" (click)="cancelTranscaction()"> Cancel </button>

</div>
</div>


<!--<ul class="transactions">-->
<!--  <li *ngFor="let singleTransaction of transactions"-->
<!--      [class.selected]="singleTransaction === transaction"-->
<!--      (click)="onSelect(singleTransaction)">-->
<!--    <a routerLink="profile/{{singleTransaction.transactionId}}">-->
<!--      <span class="badge">{{singleTransaction.memo}}</span>  {{singleTransaction.amount}}-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->



