<h2>USERS</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <a routerLink="user/{{user.id}}">
    <span class="badge">{{user.id}}</span> {{user.userName}}
    </a>
  </li>
</ul>

<div *ngIf="selectedUser">

  <h2>{{selectedUser.userName | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedUser.id}}</div>
  <div><span>name: </span>{{selectedUser.firstName}} {{selectedUser.lastName}}</div>

</div>

<!--<ul class="users">-->
<!--  <li *ngFor="let user of users">-->
<!--    -->
<!--      <span class="badge">{{user.userName}}</span>-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->


