<ul class="">
  <li class="" *ngFor="let account of accounts"
      [class.selected]="account === selectedAccount"
      (click)="onSelect(account)">
    <a class="" routerLink="account/{{account}}">
      <span class="text-dark">{{account.name}}</span>
      <span class="text-muted"><br>${{account.balance}}<br></span>
    </a>
  </li>
</ul>

<div class="" *ngIf="selectedAccount">

  <h2>{{selectedAccount.name}}</h2>
  <div><span>Balance: </span>${{selectedAccount.balance}}</div>
<!--  <div><span>Account Type: </span>{{selectedAccount.accountTypeId}}</div>-->
  <div><span></span>{{selectedAccount.nickname}}</div>
  <div><span>Id: </span>{{selectedAccount.id}}</div>
<!--  <div><span>Institution: </span>{{selectedAccount.institutionName}}</div>-->




</div>
