<div> Tabular-viz works! This is a visual representation of a line chart</div>
<div style="display: inline-block">
  <ngx-charts-line-chart>
    view: any[] = [700, 400];

    // options
    showXAxis = true;
    showYAxis = true;
    gradient = false;
    showLegend = true;
    showXAxisLabel = true;
    xAxisLabel = 'Number';
    showYAxisLabel = true;
    yAxisLabel = 'Color Value';
    timeline = true;

    colorScheme = {
    domain: ['#5AA454', '#A10A28', '#C7B42C', '#AAAAAA']
    };
  </ngx-charts-line-chart>
</div>

<div>
  <table style="padding: 20px; width: 100%;">
    <tr>
      <th align="left">TransactionID</th>
      <th align="left">From</th>
      <th align="left">To</th>
      <th align="left">Memo</th>
      <th align="left">TransactionType</th>
      <th align="left">TransactionDescription</th>
      <th align="left">TransactionTypeID</th>
      <th align="left">TransactionDate</th>
      <th align="left">Amount</th>
    </tr>
    <tr *ngFor="let item of transaction">
      <td>{{item.transactionId}}</td>
      <td>{{item.fromAccountId}}</td>
      <td>{{item.toAccountId}}</td>
      <td>{{item.memo}}</td>
      <td>{{item.transactionType}}</td>
      <td>{{subItem.description}}</td>
      <td>{{subItem.id}}</td>
      <td>{{item.transactionDt}}</td>
      <td>{{item.amount}}</td>
    </tr>
  </table>
</div>
