<div style="text-align:center" class="dropdown-header shadow bg-secondary">
  <div class="btn-group" role="group" aria-label="Basic example">
      <button routerLink="/users" type="button" class="btn-secondary badge-dark btn-lg">Users</button>
      <button routerLink="/accounts" type="button" class="btn-secondary badge-dark btn-lg">Accounts</button>
    <!--  <button routerLink="/transactions" type="button" class="btn-secondary badge-dark btn-lg">Transactions</button>-->:
  </div>
</div>
<router-outlet></router-outlet>
