.plus {
  background-color: black;
  border-color: #ff00f6;
}
.text-pink {
  color: #ff00f6;
}
.ln {
  height: 1px;
  background-color: #ff00f6;
}
.create{
  border-radius: 10px;
  background-image: linear-gradient(rgba(255, 0, 246, 0.21), rgba(0, 0, 0, 0.5));
}
.form {
  font-family: "Roboto", sans-serif;
  outline: #ff00f6 1px;
  background: #000000;
  border: 1px;
  margin: 0 0 1px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
@media (min-width: 992px) {
  .animate2 {
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .animate3 {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .animate4 {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .animate5 {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.drpdwn {
  overflow: visible !important;
  position: relative;
  overflow-x: hidden;
  z-index: 10002;
}
.drpdwn1 {
  overflow: visible !important;
  z-index: 10003;
}
.btn {
  z-index: 10000;
}
.text-muted {
  color: #8a959d !important;
}
.dropdown-item:hover {
  color:#16181b;
  text-decoration:none;
  background-color: #ff00f6
}
