<div class="pt-3 pb-2"><h4 class="text-muted text-center animate1 slideIn">
  Transfer Funds
</h4>
  <div class="ln animate2 slideIn"></div>

  <script src="transaction.component.ts"></script>
  <div>
    <div  class="text-center pt-3 pb-1">
      <button class="plus text-muted animate2 slideIn" (click)="enableDeposit()"> Deposit</button>
      <button class="plus text-muted animate3 slideIn" (click)="enableWithDraw()"> Withdraw</button>
      <button class="plus text-muted animate4 slideIn" (click)="enableTransfer()"> Transfer</button>
    </div>
    <p>
    </p>
    <div class="container-fluid  animate1 slideIn">
    <div class="create">
      <div id="amount" hidden="true"  class="text-pink text-center pt-3 pb-1 ">
        <h6 class="text-light pb-1 animate1 slideIn">Create New Transfer</h6>

        <input placeholder="$ Amount*" class="form text-light animate2 slideIn" id="amountValue "type="number" #newTransactionAmount/>
      </div>
      <div id="memo" hidden="true" class="text-center pt-1 pb-1">
        <input placeholder="Memo*" class="form text-light animate3 slideIn" #newTransactionMemo/>
      </div>

      <div id="fromAccount" hidden="true" class="text-center pt-2 pb-2">
        <div class="btn-group dropleft" role="group">
          <button id="btnGroupDrop1" type="button" class="btn plus text-muted dropdown-toggle animate3 slideIn" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" #newTransactionFromAccount value="{{fromAccountId}}">
            {{fromAccountName}}
          </button>
          <div class="dropdown-menu plus text-light" aria-labelledby="fromAccountbtn" id="fromAccountdrp">
            <a *ngFor="let account of accounts" [class.selected]="account === selectFromAccount"
               (click)="onSelectFromAccount(account)" class="dropdown-item">{{account.name}}
              | {{account.nickname}}</a>
          </div>
        </div>
      </div>
      <div id="toAccount" hidden="true" class="text-center pt-2 pb-2 animate4 slideIn">
        <div class="btn-group dropleft" role="group">
          <button id="btnGroupDrop2" type="button" class="btn plus text-muted dropdown-toggle drpdwn" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" #newTransactionToAccount value="{{toAccountId}}">
            {{toAccountName}}
          </button>
          <div class="dropdown-menu plus text-light drpdwn" aria-labelledby="fromAccountbtn" id="toAccountdrp">
            <a *ngFor="let account of accountsTo" [class.selected]="account === selectToAccount"
               (click)="onSelectToAccount(account)" class="dropdown-item drpdwn">{{account.name}}
              | {{account.nickname}}</a>
          </div>
        </div>
      </div>

      <div id="transactionType" hidden="true" class="text-center pt-2 pb-2 animate4 slideIn">
        <div class="btn-group dropleft" role="group">
          <button id="btnGroupDrop" type="button" class="btn plus text-muted dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" #newTransactionType value="{{transactionTypeName}}">
            {{transactionTypeName}}
          </button>
          <div class="dropdown-menu plus text-light" aria-labelledby="transactionTypebtn" id="transactionTypedrp">
            <a *ngFor="let transactionType of transactionTypes" [class.selected]="transactionType === selectedTransactionType"
               (click)="onSelectTransactionType(transactionType)" class="dropdown-item">{{transactionType.description}}</a>
          </div>
        </div>
      </div>
      <div id="finalButtons" hidden="true" class="text-center pt-2 pb-4">
        <button id="addTransactionButton" hidden="true" class="plus text-light animate5 slideIn"
                (click)="addDeposit(newTransactionAmount.value, newTransactionMemo.value, newTransactionFromAccount.value,newTransactionToAccount.value , newTransactionType.value); newTransactionAmount.value=''">
          OK
        </button>
        <button id="cancelTransaction" hidden="true" class="plus text-muted animate5 slideIn"
                (click)="cancelTransaction()"> Cancel</button>
      </div>
    </div>
    <p></p>
  </div>
</div>
</div>
