<h2 class="ui header">
  Transactions List
</h2>
<hr>
<div class="ui segment">
  <!--<sui-dimmer class="inverted" [(isDimmed)]="loading">-->
    <!--<div class="ui text loader">Loading</div>-->
  <!--</sui-dimmer>-->
  <table class="ui celled table">
    <thead>
    <tr>
      <th align="left">Transaction ID</th>
      <th align="left">From</th>
      <th align="left">To</th>
      <th align="left">Memo</th>
      <!--<th align="left">TransactionType</th>-->
      <th align="left">Description</th>
      <!--<th align="left">Type ID</th>-->
      <th align="left">Amount</th>
      <th align="left">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of transactions">
      <td>{{t.transactionId}}</td>
      <td>{{t.fromAccountId}}</td>
      <td>{{t.toAccountId}}</td>
      <td>{{t.memo}}</td>
      <!--<td>{{t.transactionType}}</td>-->
      <td>{{t.transactionType['description']}}</td>
      <!--<td>{{t.transactionType['id']}}</td>-->
      <td>{{t.amount}}</td>
      <td>{{t.transactionDt}}</td>
    </tr>
    </tbody>
    <tfoot>
    <!--<tr>-->
      <!--<th colspan="7">-->
        <!--&lt;!&ndash;<sui-pagination [collectionSize]="total" [pageSize]="limit" [hasNavigationLinks]="true" [hasBoundaryLinks]="true" [(page)]="selectedPage"&ndash;&gt;-->
                        <!--&lt;!&ndash;(pageChange)="pageChange()">&ndash;&gt;-->
        <!--&lt;!&ndash;</sui-pagination>&ndash;&gt;-->
      <!--</th>-->
    <!--</tr>-->
    </tfoot>
  </table>
</div>

